/*  SECTIONS  */
section {
    max-width: 600px;
    clear: both;
    padding: 10px 10px;
    margin: 0 auto;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:"";  }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */

.span_70 {
    width: 69.2%;
}
.span_30 {
    width: 29.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_30, .span_70 { width: 100%; }
}
